@model Publications.Web.Models.Publications.PublicationPlaceInfo

@{
    ViewData["Title"] = "Редактировать место публикации";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("EditPublicationPlace", "Publications"))
{
    @Html.EditorForModel()
    <button type="submit" class="btn btn-sm btn-primary">Редактировать</button>
    @Html.ActionLink("Назад", "GetPublicationPlaces");
}
