@model Publications.Web.Models.Publications.PublicationInfo

@{
    ViewData["Title"] = "Редактировать публикацию";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit" class="btn btn-sm btn-primary">Редактировать</button>
    @Html.ActionLink("Назад", "Index");
}