@model Publications.Web.Data.AuthorPosition[]

@{
    ViewBag.Title = "Должности";
}

<h2>@ViewBag.Title</h2>

@if (Model.Length > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
}
else
{
    <p>Должности отсутствуют</p>
}

@Html.ActionLink("Создать новую", "CreateAuthorPosition", "Publications", null, new { @class = "btn btn-sm btn-primary" })
<hr />

@Html.ActionLink("Назад", "Index")