@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Возникла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим отладки</h3>
<p>
    Перемещение в окружение <strong>Режимы отладки</strong> отображает более детальную информацию о возникшей ошибке.
</p>
<p>
    <strong>Окружение разработки не должно быть включено в развёртываемое приложение.</strong>
    Это может привест к отображению чувствительной информации об обшибках и конечных пользователях.
    Для локальной отладки, включите <strong>Окружение разработки</strong> установкой <strong>ASPNETCORE_ENVIRONMENT</strong> переменной окружения <strong>Разработки</strong>
    and restarting the app.
</p>
